#gotag div,#gotag span,#gotag object,#gotag iframe,#gotag h1,#gotag h2,#gotag h3,#gotag h4,#gotag h5,#gotag h6,#gotag p,#gotag blockquote,#gotag pre,#gotag a,#gotag abbr,#gotag acronym,#gotag address,#gotag code,#gotag del,#gotag dfn,#gotag em,#gotag img,#gotag q,#gotag dl,#gotag dt,#gotag dd,#gotag ol,#gotag ul,#gotag li,#gotag fieldset,#gotag form,#gotag label,#gotag legend,#gotag table,#gotag caption,#gotag tbody,#gotag tfoot,#gotag thead,#gotag tr,#gotag th,#gotag td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

#gotag table {
    border-collapse: separate;
    border-spacing: 0;
}

#gotag caption,#gotag th,#gotag td {
    text-align: left;
    font-weight: normal;
}

#gotag table,#gotag td,#gotag th {
    vertical-align: middle;
}

#gotag a img {
    border: none;
}

.gotag-lightbox {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    width: 960px;
    height: 761px;
    z-index: 1000000000;
    overflow: visible;
}

#gotag .gotag-wrapper {
    background: url("http://developers.gotag.in/gotag.js/buttons/lightbox-bg.png") no-repeat;
    width: 760px;
    height: 561px;
    padding: 100px;
    margin-left: -50%;
    margin-top: -361px;
}

#gotag .gotag-container {
    width: 760px;
    height: 551px;
    background: #ffffff;
    -webkit-border-radius: 6px;
    overflow: hidden;
}

#gotag .gotag-header {
    width: 760px;
    height: 63px;
    background: #fbfbfb url("http://developers.gotag.in/gotag.js/buttons/header-bg.png") repeat-x;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    line-height: 63px;
    font-size: 26px;
    font-weight: bold;
    font-family: Century Gothic, Arial, Tahoma, sans-serif;
    color: #5e5e5e;
    text-shadow: -1px -1px 0 #fff;
    text-indent: 20px;
    position: relative;
    overflow: hidden;
    text-align: left;
}

#gotag .gotag-header em {
    font-size: 12px;
    font-weight: normal;
    font-family: Georgia, Times, Times New Roman, serif;
    font-style: italic;
    color: #ababab;
}

#gotag .gotag-header em a {
    color: #ababab;
}

#gotag .gotag-header em a:hover {
    color: #5e5e5e;
}

#gotag .gotag-header .gotag-close {
    position: absolute;
    right: 20px;
    top: 21px;
    display: block;
    width: 20px;
    height: 20px;
    background: #939090 url("http://developers.gotag.in/gotag.js/buttons/btn-close.png") 0px 0px no-repeat;
}

#gotag .gotag-header .gotag-close:hover {
    background: #939090 url("http://developers.gotag.in/gotag.js/buttons/btn-close.png") 0px -20px no-repeat;
}

#gotag .gotag-body {
    width: 760px;
    height: 490px;
}

#gotag .gotag-body iframe {
    -webkit-border-bottom-right-radius: 6px;
}
